body {
    background-color: #320d0d;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
  }
  
  #text {
    background-color: #320d0d;
    color: #ffffff;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  #inventoryMenu {
    width: 15vw;
    height: 90vh;
    margin-top: 15px;
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #320d0d;
  }

  #game {
    width: 60vw;
    height: 90vh;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #320d0d;
    padding: 5px;
    color: #320d0d;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #320d0d;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #320d0d;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    font-family: 'Poppins', sans-serif;
  }